body {
    font-family: "Roboto Mono", monospace;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #8e44ad, #3498db);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .author {
    display: block;              
    font-size: 14px;              
    font-weight: normal;         
    color: #333;                  
    margin-top: 10px;            
    text-align: center;           
    font-family: "Roboto Mono", monospace; 
  }
  
  .calculator {
    width: 500px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    background: rgb(219, 219, 219);
    background: linear-gradient(
      90deg,
      rgba(219, 219, 219, 1) 0%,
      rgb(154, 155, 155) 100%
    );
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  span {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #2c2c2c;
    text-shadow: 1px 1px 1px #f0eeee;
    margin-bottom: 20px;
  }
  
  .display {
    width: 95%;
    height: 80px;
    font-size: 40px;
    color: rgb(250, 248, 248);
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 20px;
    border-radius: 5px;
    background: linear-gradient(
      45deg,
      rgba(219, 219, 219, 1) 0%,
      rgb(51, 51, 51) 100%
    );
    border: 1px solid #ccc;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .buttons button {
    padding: 15px 0;
    font-size: 25px;
    background: linear-gradient(145deg, #e2e4e8, #ffffff);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 15px #b1b3b7, -5px -5px 15px #ffffff;
  }
  
  .buttons button:hover {
    background: #d9d9d9;
  }
  
  .buttons button:active {
    box-shadow: inset 5px 5px 15px #b1b3b7, inset -5px -5px 15px #ffffff;
  }
  
  #equals {
    grid-column: span 2; 
    font-size: 30px;
    background: linear-gradient(145deg, #f9a825, #fdd835);
    box-shadow: 5px 5px 15px #d4a218, -5px -5px 15px #ffeb3b;
  }
  
  #equals:hover {
    background: #fdd835;
  }
  
  #equals:active {
    box-shadow: inset 5px 5px 15px #d4a218, inset -5px -5px 15px #ffeb3b;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
    font-weight: 500;
  }
  
  footer p {
    margin: 0;
    padding: 10px;
    background: linear-gradient(145deg, #ffffff, #d5d7dc);
    box-shadow: inset 2px 2px 5px #c9c9c9, inset -2px -2px 5px #ffffff;
    border-radius: 5px;
  }
  